
:root{
    --lightgreen: #6ccb23; 
    --lightblue: #189CE2;
    --N-A: #979797; 
}

body{
    margin: 0;
}

.names{
    padding-bottom: 5px;
}

.month{
    border: 1px solid var(--N-A);
    height: 100px;
    width: 960px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightblue);

}

.day {
    border-bottom: 1px solid var(--N-A);
    border-right: 1px solid var(--N-A);
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.app-calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5,1fr);
    height: 50rem;
    width: 60rem;
}

.weekend {
    color: var(--lightblue);
}

.selected {
    background-color: var(--lightblue);
    color: white;
}

.hour{
    border: 1px solid var(--N-A);;
    text-align: start;
    padding-top: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}
